<footer id="install" class="shell footer-shell">
  <div>
    <p>Beam</p>
    <h2>Install will go live with the first public release</h2>
  </div>

  <div class="footer-actions">
    <button class="solid-button" type="button" disabled>Install</button>
    <a
      class="outline-button"
      href="https://github.com/krishkalaria12/beam"
      target="_blank">View repository</a
    >
  </div>
</footer>
